@mixin bold-text($font-size: 26px) {
  font-weight: 800;
  font-size: $font-size;
}

@mixin default-paddings {
  padding: 20px;
}

@mixin flex-container($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}